:root{ /*DEFININDO VARIAVEIS*/
    --primary-color: #0A1128;
    --white-color: #FFFFFF;
    --light-gray-color: #EEEEEE;
    --gap: 3rem;
}

*{
    margin: 0;
    padding: 0;
}

/*font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;*/

html{
    font-size: 62.5%;
    /* O html usa de forma padrão 16px ou seja (62.5% * 16px = 10px) Então padronizei a fonte em 10px para quando eu usar a unidade de medida rem 1 rem equivale a 10 pixel */
}

body{
    font-family:'Open Sans', sans-serif;
    font-size: 2rem;
}

/* DEFININDO PADRÕES*/

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size:6rem;
    text-transform: uppercase;
}
h2{
    font-size:5.5rem;
}
h3{
    font-size:5rem;
}
h4{
    font-size:4.5rem;
}
h5{
    font-size:4rem;
}
h6{
    font-size:3.5rem;
}

a{
    text-decoration: none;
}
/*ORGANIZAÇÃO DA PAGINA*/
.main-bg{
    background-image: url('../img/main-bg.svg'); /*Forma de adicionar um backgroud puxando o svg*/
    background-size: cover; /*cubra completamente o elemento ao qual está atribuída, mantendo sua proporção original.*/
    background-position: center center; /* Deixando sempre centralizada o backgroud */
    color: var(--white-color);
}

.white-bg{
    color: var(--white-color);
}



.main-content {
    max-width: 1200px;
    margin: 0 auto; /* Margins automaticas para esquerda e direita o navegador vai calcular automaticamente */
    padding: var(--gap);
}

.section{
    min-height: 100vh; /* Para que o backgroud oculpe 100 % da tela */
}

/*Containers individual*/
.menu{
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--light-gray-color);
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
}

.menu h1{
    font-size: 2.3rem;
    color: var(--primary-color);
    
    
}

.menu h1 a{
    color:inherit /*Para herdar a coloração*/
}

.menu ul{
    list-style: none;
    display: flex;
}

.menu ul li a{
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after{
    content: ''; /*Sem efeito visual direto no elemento*/  
    position: absolute;
    bottom: 1rem;
    left: 25%;
    width: 0%;
    height: 0.2rem;
    background: crimson;
    transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after{
    width: 50px;
}