*{
    margin: 0;
    padding: 0;
}

/*font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;*/

body{
    font-family:'Open Sans', sans-serif; 
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}